<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leyuan.jiang.dao.OrganizationServiceSearchMapper" >
  <resultMap id="BaseResultMap" type="com.leyuan.jiang.pojo.po.OrganizationServiceSearch" >
    <id column="ORG_ID" property="orgId" jdbcType="BIGINT" />
    <id column="CHILD_ORG_ID" property="childOrgId" jdbcType="BIGINT" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="CHILD_ORG_NAME" property="childOrgName" jdbcType="VARCHAR" />
    <result column="LEVEL" property="level" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORG_ID, CHILD_ORG_ID, ORG_NAME, CHILD_ORG_NAME, LEVEL, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.leyuan.jiang.pojo.po.OrganizationServiceSearchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from organization_service_search
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.leyuan.jiang.pojo.po.OrganizationServiceSearchKey" >
    select 
    <include refid="Base_Column_List" />
    from organization_service_search
    where ORG_ID = #{orgId,jdbcType=BIGINT}
      and CHILD_ORG_ID = #{childOrgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.leyuan.jiang.pojo.po.OrganizationServiceSearchKey" >
    delete from organization_service_search
    where ORG_ID = #{orgId,jdbcType=BIGINT}
      and CHILD_ORG_ID = #{childOrgId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.leyuan.jiang.pojo.po.OrganizationServiceSearchExample" >
    delete from organization_service_search
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.leyuan.jiang.pojo.po.OrganizationServiceSearch" >
    insert into organization_service_search (ORG_ID, CHILD_ORG_ID, ORG_NAME, 
      CHILD_ORG_NAME, LEVEL, CREATE_TIME, 
      UPDATE_TIME)
    values (#{orgId,jdbcType=BIGINT}, #{childOrgId,jdbcType=BIGINT}, #{orgName,jdbcType=VARCHAR}, 
      #{childOrgName,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.leyuan.jiang.pojo.po.OrganizationServiceSearch" >
    insert into organization_service_search
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="childOrgId != null" >
        CHILD_ORG_ID,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="childOrgName != null" >
        CHILD_ORG_NAME,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="childOrgId != null" >
        #{childOrgId,jdbcType=BIGINT},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="childOrgName != null" >
        #{childOrgName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.leyuan.jiang.pojo.po.OrganizationServiceSearchExample" resultType="java.lang.Integer" >
    select count(*) from organization_service_search
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update organization_service_search
    <set >
      <if test="record.orgId != null" >
        ORG_ID = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.childOrgId != null" >
        CHILD_ORG_ID = #{record.childOrgId,jdbcType=BIGINT},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.childOrgName != null" >
        CHILD_ORG_NAME = #{record.childOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        LEVEL = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update organization_service_search
    set ORG_ID = #{record.orgId,jdbcType=BIGINT},
      CHILD_ORG_ID = #{record.childOrgId,jdbcType=BIGINT},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      CHILD_ORG_NAME = #{record.childOrgName,jdbcType=VARCHAR},
      LEVEL = #{record.level,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.leyuan.jiang.pojo.po.OrganizationServiceSearch" >
    update organization_service_search
    <set >
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="childOrgName != null" >
        CHILD_ORG_NAME = #{childOrgName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        LEVEL = #{level,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORG_ID = #{orgId,jdbcType=BIGINT}
      and CHILD_ORG_ID = #{childOrgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leyuan.jiang.pojo.po.OrganizationServiceSearch" >
    update organization_service_search
    set ORG_NAME = #{orgName,jdbcType=VARCHAR},
      CHILD_ORG_NAME = #{childOrgName,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ORG_ID = #{orgId,jdbcType=BIGINT}
      and CHILD_ORG_ID = #{childOrgId,jdbcType=BIGINT}
  </update>
</mapper>